---
layout: default
---

<header>
	<img class="avatar" src="/favicon.svg" />
	<div>
		<h1>Open Game Icons</h1>
		<p>
			An open source frontend to browse the
			<a href="https://github.com/game-icons/icons">free game icons</a> from
			<a href="https://www.game-icons.net">game-icons.net</a>.
		</p>
	</div>
</header>

<main>
	<div>
		{% include search.html %}
		{% assign all_tags = site.data.tag_icon_counts_array | map: "id" %}
		<div class="tags center">{% include tag_links.html tags=all_tags %}</div>
		{% include icon_grid.html icons=site.icon_pages %}
	</div>
</main>
