---
layout: default
---

<header>
	<img class="avatar" src="/assets/img/avatar.png" />
	<div>
		<h1>Open Game Icons</h1>
		<p>
			An open source frontend to browse the
			<a href="https://github.com/game-icons/icons">free game icons</a> from
			<a href="https://www.game-icons.net">game-icons.net</a>.
		</p>
	</div>
</header>

<main>
	<div>
		{% for category in site.data.icons.categories %}
		<section class="icon-section">
			<h2 id="{{ category.name | slugify }}"><a href="/categories/{{ category.name | slugify }}/">{{ category.name }}</a></h2>
			<div class="icon-grid">
				{% for icon in category.icons %}
				<a href="/1x1/{{ icon.author }}/{{ icon.name }}/">
					<figure class="icon-cell">
						<img src="/assets/icons/{{ icon.author }}/{{ icon.name }}.svg" alt="{{ icon.name }}" loading="lazy" />
						<figcaption>{{ icon.name }}</figcaption>
					</figure>
				</a>
				{% endfor %}
			</div>
		</section>
		{% endfor %}
	</div>
</main>
