---
layout: page
---
<div class="icon-page">
<h1>{{ page.display_name }}</h1>

{% assign author = site.data.icons[page.author] %}
{% assign key = page.author | append: '/' | append: page.icon_name %}
{% assign lic_id = site.data.icons[page.author].icons[page.icon_name].license %}
{% assign lic = site.data.licenses[lic_id] %}
<p>by{% if author.link %} <a href="{{ author.link }}">{{ author.name }}</a>{% else %} {{ author.name }}{% endif %} under <a href="{{ lic.link }}">{{ lic.name }}</a></p>

<img src="/assets/icons/{{ page.author }}/{{ page.icon_name }}.svg" alt="{{ page.display_name }}">

{% assign tags = site.data.icons.icon_to_tags[key] %}
{% if tags %}
  <div class="tags">{% include tag_links.html tags=tags %}</div>
{% endif %}
</div>
